build
configure
Makefile*
autom4te.cache
config.h.in
config.h.in~
config.log
config.nice
configure.ac
run-tests.php
libtool
modules
.libs
oqs.dep
oqs.la
oqs.lo
tmp-php.ini
config.status
.idea
configure~
